<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/all_pages/header') -%>
	<title><%= title %></title>
</head>
<body>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
	<div class="container, center">
		<div class="set-tab">
			<button class="tablinks active" onclick="openTab(event, 'Personal')">Personal</button>
			<button class="tablinks" onclick="openTab(event, 'Interests')">Interests</button>
			<button class="tablinks" onclick="openTab(event, 'Password')">Password</button>
		</div>
		<div id="Personal" class="tabcontent" style="display: block;">
			<form action="/setting/updatePersonal" method="post" id="personal">
				<%- include('partials/profile/personal_form', {
					title : title,
					loginStatus : loginStatus
				}) -%>
				<button type="submit" name="update" id = "Update"> Update personal</button>
			</form>
		</div>
		<div id="Interests" class="tabcontent">
			<form action="/setting/updateInterests" method="post" id="interests">
				<%- include('partials/profile/profile_form', {
					title : title,
					loginStatus : loginStatus
				}) -%>
				<button type="submit" name="update" id = "Update"> Update interests</button>
			</form>
		</div>
		<div id="Password" class="tabcontent">
			<form action="/setting/updatePassword" method="post" id="passwords">
				<%- include('partials/reset_password/new_password_form', {
					title : title,
					loginStatus : loginStatus,
				}) -%>
				<button type="submit" name="update" id="update">Update Password</button>
			</form>
		</div>
	</div>
	<script>
		function openTab(evt, setting) {
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(setting).style.display = "block";
		  evt.currentTarget.className += " active";
		}
		</script>
</body>
</html>