<% if (otherUsersData.length != 0) { %>
	<% otherUsersData.forEach(function(data) { %>
	<div class="column">
		<div class="card">
			<img src="/images/male.jpg" alt="Your face" style="height: 200px;">
			<div class="container">
				<h2 id="username">@<%= data.username %></h2>
				<a href="#" onclick="showProfile()">View Profile</a>
				<!-- <button onclick="showProfile()">View Profile</button> -->
				<!-- <%= data.sexualOrientation %> -->
				<p><%= data.biography %></p>
				<p> I am <%= data.sexualOrientation %> and looking for 
				<% if ((data.gender === 'female') && (data.sexualOrientation === 'straight')) { %>
					males
				<% } else if ((data.gender === 'female') && (data.sexualOrientation === 'lesbian')) { %>
					females
				<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'straight')) { %>
					females
				<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'gay')) { %>
					males
				<% } else { %>
					females or males
				<% } %>
					from <%= data.agePreference %></p>
					<div style="overflow:auto;">
						<div style="float:right;">
							<button class="button" onclick="plusSlides(1)" id="like" style="background-color:green; width: 50px; height: 50px; border-radius: 50%;"></button>
						</div>
						<div style="float: left;">
							<button class="button" onclick="plusSlides(1)" id="dislike" style="background-color:red; width: 50px; height: 50px; border-radius: 50%;"></button>
						</div>
					</div>
			</div>
			<div id="myModal" class="modal">
				<span class="close" onclick="closeProfile">&times;</span>
					<img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
					<div class="container" id="">
						<h2><%= data.name %> <%= data.surname %>, <%= data.age %> , <%= data.gender %></h2>
						<p>Lives in (Country)</p>
						<p><%= data.biography %></p>
						<p>Looking for
						<% if ((data.gender === 'female') && (data.sexualOrientation === 'straight')) { %>
						males
						<% } else if ((data.gender === 'female') && (data.sexualOrientation === 'lesbian')) { %>
							females
						<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'straight')) { %>
							females
						<% } else if ((data.gender === 'male') && (data.sexualOrientation === 'gay')) { %>
							males
						<% } else {%>
							females or males
						<% } %>
						from <%= data.agePreference %></p>
						<p>Interested in 
							<%= data.interest1 %>, 
							<%= data.interest2 %>, 
							<%= data.interest3 %>, 
							<%= data.interest4 %></p>
					</div>
			  </div>
		</div>
	</div>

	<% }); %>
<% } %>
