<% if (errorMessages.length > 0) { %>
<% let newPasswordErrors = errorMessages[0] %>
<% let confirmPasswordErrors = errorMessages[1] %>

<label><b>New Password</b></label><br>
<input type="password" name="newPassword" id="newPassword" placeholder="New Password">
<div class="errorMsg">
<% if (newPasswordErrors.fieldLength !== '') { %>
	<%= newPasswordErrors.fieldLength %>
<% } %>
<% if (newPasswordErrors.casing !== '') { %>
	<%= newPasswordErrors.casing %>
<% } %>
</div>
<br>
<label><b>Confirm New Password</b></label><br>
<input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password">
<div class="errorMsg">
	<% if (confirmPasswordErrors.fieldLength !== '') { %>
		<%= confirmPasswordErrors.fieldLength %>
	<% } %>
	<% if (confirmPasswordErrors.casing !== '') { %>
		<%= confirmPasswordErrors.casing %>
	<% } %>
</div>
<br>
<!-- <%=errorMessages[0].fieldLength %> -->
<% } else if (errorMessages.length === 0) { %>
	<label><b>New Password</b></label><br>
	<input type="password" name="newPassword" id="newPassword" placeholder="New Password"><br>
	<label><b>Confirm New Password</b></label><br>
	<input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm New Password">
<% } %>